*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #8dbbff;
}
.face {
    background-color: rgb(255 245 185);
    width: 200px;
    height: 180px;
    border-radius: 50%;
    position: relative;
}
.eyes {
    position: relative;
    top: 40px;
    display: flex;
}
.eye {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px;
    position: relative;
}
.pupils {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.reflection1 {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 5px;
}
.reflection2 {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 4px;
}
.ears {
    position: relative;
}
.ear {
    border-radius: 90% 0 90% 0;
    background-color: #ffcc80;
    height: 100px;
    width: 100px;
    position: absolute;
}
.left_ear {
    transform: scale(1,-1) rotate(0deg);
    left: 0;
}
.right_ear {
    left: 100px;
}
.inner_ear {
    border-radius: 90% 0 90% 0;
    background-color: pink;
    height: 70px;
    width: 70px;
    position: absolute;
}
.left_inner_ear {
    left: 15px;
    top: 15px;
}
.right_inner_ear {
    transform: scale(1,-1) rotate(0deg);
    left: 100px;
}
.nose {
    background-color: black;
    height: 15px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    left: 93px;
    top: 18px;
}
.mouth {  
    height: 10px;
    width: 50px;
    border-width: 3px;
    border-radius: 100% 100% 100% 100%;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 78px;
    top: 20px;
}
.teeth {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    left: 4px;
}
.left_teeth {
    transform: rotate(8deg);
}
.right_teeth {
    left: 36px;
    transform: rotate(-8deg);
}
.tongue {
    width: 10px;
    height: 10px;
    border-radius: 0% 0% 100% 100%;
    background-color: pink;
    border-color: black;
    position: absolute;
    top: 10px;
    left: 23px;
}
.spots {
    position: relative;
}
.spot {
    width: 50px;
    height: 15px;
    border-radius: 40%;
    background-color: rgb(158, 146, 129);
    position: absolute;
    left: 76px;
}
.spot1 {
    top: -119px;
}
.spot2 {   
    width: 38px;
    height: 13px;
    top: -102px;
    left: 83px;
}
.spot3 {
    width: 26px;
    height: 11px;
    top: -87px;
    left: 90px;
}
.whisker {
    background-color: rgb(70, 70, 70)
}
.whisker_left {
    width: 30px;
    height: 4px;
    margin: 8px;
    position: relative;
    top: -20px;
    left: -5px;
}
.whisker1 {
    transform: rotate(10deg);
}
.whisker2 {
    transform: rotate(0deg);
}
.whisker3 {
    transform: rotate(-10deg);
}
.whisker_right {
    width: 30px;
    height: 4px;
    margin: 8px;
    position: relative;
    top: -57px;
    left: 160px;
}
.whisker4 {
    transform: rotate(-10deg);
}
.whisker5 {
    transform: rotate(0deg);
}
.whisker6 {
    transform: rotate(10deg);
}
.buttons {
    text-align: center;
}

#creationMessage {
    color: rgb(2, 160, 2)
}

/* .cursor {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background: #b40660;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4000;
} */



/* SHOW KITTY */

.face2 {
    background-color: rgb(255 245 185);
    width: 200px;
    height: 180px;
    border-radius: 50%;
    position: relative;
}
.eyes2 {
    position: relative;
    top: 40px;
    display: flex;
}
.eye2 {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px;
    position: relative;
}
.pupils2 {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.reflection12 {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 5px;
}
.reflection22 {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 4px;
}
.ears2 {
    position: relative;
}
.ear2 {
    border-radius: 90% 0 90% 0;
    background-color: #ffcc80;
    height: 100px;
    width: 100px;
    position: absolute;
}
.left_ear2 {
    transform: scale(1,-1) rotate(0deg);
    left: 0;
}
.right_ear2 {
    left: 100px;
}
.inner_ear2 {
    border-radius: 90% 0 90% 0;
    background-color: pink;
    height: 70px;
    width: 70px;
    position: absolute;
}
.left_inner_ear2 {
    left: 15px;
    top: 15px;
}
.right_inner_ear2 {
    transform: scale(1,-1) rotate(0deg);
    left: 100px;
}
.nose2 {
    background-color: black;
    height: 15px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    left: 93px;
    top: 18px;
}
.mouth2 {  
    height: 10px;
    width: 50px;
    border-width: 3px;
    border-radius: 100% 100% 100% 100%;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 78px;
    top: 20px;
}
.teeth2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    left: 4px;
}
.left_teeth2 {
    transform: rotate(8deg);
}
.right_teeth2 {
    left: 36px;
    transform: rotate(-8deg);
}
.tongue2 {
    width: 10px;
    height: 10px;
    border-radius: 0% 0% 100% 100%;
    background-color: pink;
    border-color: black;
    position: absolute;
    top: 10px;
    left: 23px;
}
.spots29 {
    position: absolute;
}
.spot29 {
    width: 50px;
    height: 15px;
    border-radius: 40%;
    position: relative;
    left: 76px;
}
.spot129 {
    top: -119px;
}
.spot229 {   
    width: 38px;
    height: 13px;
    top: -118px;
    left: 83px;
}
.spot329 {
    width: 26px;
    height: 11px;
    top: -116px;
    left: 90px;
}
.whisker2 {
    background-color: rgb(70, 70, 70)
}
.whisker_left2 {
    width: 30px;
    height: 4px;
    margin: 8px;
    position: relative;
    top: -20px;
    left: -5px;
}
.whisker12 {
    transform: rotate(10deg);
}
.whisker22 {
    transform: rotate(0deg);
}
.whisker32 {
    transform: rotate(-10deg);
}
.whisker_right2 {
    width: 30px;
    height: 4px;
    margin: 8px;
    position: relative;
    top: -57px;
    left: 160px;
}
.whisker42 {
    transform: rotate(-10deg);
}
.whisker52 {
    transform: rotate(0deg);
}
.whisker62 {
    transform: rotate(10deg);
}